@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url(margin-padding.css);
body, html {
  color: #7E8890; }

* {
  font-family: "Roboto", Arial, Sans-Serif, Tahoma, Verdana;
  box-shadow: none !important;
  outline: none !important;
  text-shadow: none !important; }

.fw300 {
  font-weight: 300; }

.fs16 {
  font-size: 16px; }

.fs18 {
  font-size: 18px; }

.fs24 {
  font-size: 24px; }

.w100p {
  width: 100% !important; }

.container-fluid.header {
  background-color: #0d427a; }



.navbar-default {
  margin-bottom: 0;
  padding-bottom: 0px;
  background-color: transparent;
  border-color: transparent; }
  .navbar-default .navbar-toggle {
    background-color: transparent !important;
    border: none;
    margin-top: 0px; }
  .navbar-default .navbar-brand {
    padding: 5px 0;
    margin-top: 0px; }
    @media (max-width: 767px) {
      .navbar-default .navbar-brand {
        margin-left: 15px; } }
  .navbar-default ul.navbar-nav {
    margin-top: 0px; }
    @media (max-width: 767px) {
      .navbar-default ul.navbar-nav {
        margin-top: 0;
        margin-bottom: 0; } }
    .navbar-default ul.navbar-nav .open .dropdown-menu > li > a:hover {
      background-color: #f9f9f9; }
  .navbar-default ul.navbar-nav > li > a {
    letter-spacing: 1px;color:#ffffff !important;
    padding: 8px 20px; }
    @media (max-width: 767px) {
      .navbar-default ul.navbar-nav > li > a {
        padding-top: 0px;
        
        padding-bottom: 15px; }
        .navbar-default ul.navbar-nav > li > a:hover {
          background-color: #f9f9f9; } }
  @media (max-width: 767px) {
    .navbar-default .navbar-header {
      /*margin-bottom: 15px;*/ } }

.navbar-collapse {
  margin-top: 8px !important; }
.navbar-text-menu{
  color: #ffffff !important;
}
.navbar-collapse.in {
  /*border-top:1px solid #ddd;*/
  border-bottom: 1px solid #ddd; }
  @media (min-width: 767px) {
    .navbar-collapse.in {
      border: none !important; } }

@media (max-width: 1200px) {
  .container {
    width: auto !important; } }
.btn-default,
.btn-primary,
.btn-success,
.btn-danger,
.btn-warning,
.btn-info,
.btn-white,
.btn-main,
.btn-main-border,
.btn-sub,
.btn-sub-border {
  letter-spacing: 0.5px;
  min-width: 120px;
  border-radius: 3px;
  padding: 10px 25px;
  transition: background-color 0.3s;
  border-radius: 999px; }
  .btn-default:hover, .btn-default:focus,
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-success:hover,
  .btn-success:focus,
  .btn-danger:hover,
  .btn-danger:focus,
  .btn-warning:hover,
  .btn-warning:focus,
  .btn-info:hover,
  .btn-info:focus,
  .btn-white:hover,
  .btn-white:focus,
  .btn-main:hover,
  .btn-main:focus,
  .btn-main-border:hover,
  .btn-main-border:focus,
  .btn-sub:hover,
  .btn-sub:focus,
  .btn-sub-border:hover,
  .btn-sub-border:focus {
    filter: brightness(80%) !important;
    transition: all 0.3s;
    color: white !important; }
  .btn-default.input-sm,
  .btn-primary.input-sm,
  .btn-success.input-sm,
  .btn-danger.input-sm,
  .btn-warning.input-sm,
  .btn-info.input-sm,
  .btn-white.input-sm,
  .btn-main.input-sm,
  .btn-main-border.input-sm,
  .btn-sub.input-sm,
  .btn-sub-border.input-sm {
    padding: 5px 10px;
    min-width: 50px; }
.btn-default {
  background-color: transparent !important; }
  .btn-default:hover, .btn-default:focus {
    filter: brightness(100%) !important;
    background-color: transparent !important;
    color: #7E8890 !important; }

.btn-main, a.btn-main {
  background-color: #00B592 !important;
  border: 1px solid #00B592 !important;
  color: white !important; }

.btn-sub, a.btn-sub {
  background-color: #6940AC !important;
  border: 1px solid #6940AC !important;
  color: white !important; }

.btn-white, a.btn-white {
  background-color: white !important;
  color: #00B592 !important; }
  .btn-white:hover, .btn-white:focus, a.btn-white:hover, a.btn-white:focus {
    filter: brightness(100%) !important;
    background-color: white !important;
    color: #00B592 !important; }

.btn-main-border, a.btn-main-border {
  background-color: transparent !important;
  border: 1px solid #00B592 !important;
  color: #00B592 !important; }
  .btn-main-border:hover, .btn-main-border:focus, a.btn-main-border:hover, a.btn-main-border:focus {
    filter: brightness(100%) !important;
    background-color: transparent !important;
    color: #00B592 !important; }

.btn-sub-border, a.btn-sub-border {
  background-color: transparent !important;
  border: 1px solid #6940AC !important;
  color: #6940AC !important; }
  .btn-sub-border:hover, .btn-sub-border:focus, a.btn-sub-border:hover, a.btn-sub-border:focus {
    filter: brightness(100%) !important;
    background-color: transparent !important;
    color: #6940AC !important; }

.btn-lg {
  font-size: 16px;
  font-weight: 300;
  padding: 12px 40px; }

input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.3) !important; }

input, textarea, select {
  border-radius: 2px !important;
  border-color: #ddd !important; }

label {
  font-weight: normal; }

.error-msg {
  display: none; }

.has-error input[type=text], .has-error input[type=number], .has-error input[type=email], .has-error input[type=password] {
  border-color: red !important; }
.has-error .error-msg {
  display: block;
  margin-top: 5px;
  color: red !important;
  font-size: 14px; }
.has-error .input-group .input-group-addon {
  border-color: red !important;
  color: black; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: #555;
  background-color: transparent; }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  border-color: transparent; }

span.label {
  border-radius: 99px; }
  span.label.label-default {
    background-color: #f2f2f2;
    color: #7E8890; }

.modal-header {
  background-color: #00B592;
  border: none;
  border-radius: 4px 4px 0 0;
  color: white; }
  .modal-header.bgColor2 {
    background-color: #00B592; }
  .modal-header .close {
    opacity: 1; }
    .modal-header .close i.zmdi {
      color: white !important; }
  .modal-header h4.modal-title {
    margin-top: 15px;
    text-align: center;
    font-size: 20px; }
  .modal-header h3.modal-big-title {
    margin-top: 5px;
    text-align: center;
    font-size: 36px;
    font-weight: 300; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.modal-footer {
  border: none; }

.modal-body {
  padding: 30px 20px; }

.small, small {
  font-size: 12px !important; }

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity: 0.3; }

.form-group label {
  color: #333C4E;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase; }

.tooltip {
  white-space: nowrap;
 }
.tooltip-inner {
  color: white !important; 
 }
.popover {
  border: none;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) !important; }

.popover > .arrow, .popover > .arrow:after {
  border-color: transparent;
  border-style: solid; }

.popover.right > .arrow {
  border-right-color: rgba(0, 0, 0, 0.05); }

.panel-default {
  border: none; }

.table > thead > tr > th {
  border-bottom: 1px solid #ddd;
  color: #333C4E; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 10px 5px;
  text-align: center; }
  .table > tbody > tr > td:first-child, .table > tbody > tr > th:first-child, .table > tfoot > tr > td:first-child, .table > tfoot > tr > th:first-child, .table > thead > tr > td:first-child, .table > thead > tr > th:first-child {
    text-align: left; }

.table-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd; }

.table-responsive {
  border: none !important; }
  .table-responsive th, .table-responsive td {
    white-space: nowrap; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  border-radius: 4px; }

.dropdown-menu {
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2) !important;
  border: none; }
  .dropdown-menu li > a {
    color: #000  !important;
    padding: 10px 20px !important; }

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    box-shadow: none !important; }
    .navbar-nav .open .dropdown-menu .divider {
      margin: 9px 20px; } }
.table {
  margin-bottom: 0; }
  .table td, .table th {
    vertical-align: middle !important; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.form-group {
  margin-bottom: 30px; }
  .form-group:last-child {
    margin-bottom: 0; }

a {
  color: #3d70b2 !important;
  cursor: pointer !important;
  text-decoration: none !important; }
  a:hover, a:active, a:focus {
    color: #00B592 !important; }

.txtMainColor {
  color: #00B592 !important; }
  .txtMainColor:hover, .txtMainColor:focus {
    color: #00B592 !important; }

.txtSubColor {
  color: #6940AC !important; }
  .txtSubColor:hover, .txtSubColor:focus {
    color: #6940AC !important; }

.txtRed {
  color: red !important; }
  .txtRed:hover, .txtRed:focus {
    color: red !important; }

@media (max-width: 767px) {
  .center-xs {
    text-align: center; } }

.input-main {
  padding: 0 10px !important;
  border: none !important;
  border-bottom: 2px solid #00B592 !important; }

.btn-mini {
  font-size: 14px;
  padding: 7px 14px; }

.truncate {
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  @media (max-width: 767px) {
    .truncate {
      white-space: normal;
      text-overflow: inherit;
      overflow: visible;
      margin-bottom: 10px; } }

.border-right {
  border-right: 1px solid #ddd; }

.center-shadow {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) !important; }

.customSelect {
  position: relative; }
  .customSelect select {
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    width: 100%;
    padding: 12px 20px;
    background-color: transparent;
    border-radius: 4px; }
  .customSelect:after {
    position: absolute;
    content: "\f2f1";
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #6940AC;
    font-family: 'Material-Design-Iconic-Font';
    font-size: 24px;
    pointer-events: none; }

table.no-borders tr, table.no-borders th, table.no-borders td {
  border: none !important; }

.inline-block {
  display: inline-block; }

.navbar-nav > li > a {
  border: 1px solid transparent; }
  @media (min-width: 767px) {
    .navbar-nav > li > a.special {
      color: #00B592 !important;
      border: 1px solid #00B592;
      border-radius: 999px; } }

.big-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 42px;
  color: #333C4E; }
  .big-title span {
    color: #00B592; }

.medium-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #333C4E; }

label.title {
  font-size: 12px;
  font-weight: bold;
  color: #333C4E; }

.dropdown-toggle i.zmdi {
  line-height: 0;
  position: relative;
  top: 5px; }

.title-bar {
  background-color: #f5f5f5;
  padding: 10px 20px;
  position: relative; }
  .title-bar span.title-text {
    display:-webkit-box;
    padding-bottom: 0px;
    font-size: 16px;
    font-weight: 300;
    color: #3480c9; }
  .title-bar .btnAdd {
    position: absolute;
    right: 1%;
    bottom: -25px;
    width: 50px;
    height: 50px;
    display: block;
    overflow: hidden;
    text-align: center;
    background-color: #00B592;
    border-radius: 999px;
    color: white !important;
    font-size: 30px;
    font-weight: 300;
    line-height: 0;
    padding-top: 25px;
    text-decoration: none !important; }
  .title-bar a * {
    color: #3480c9 !important; }

@keyframes fadeIn {
  from {
    opacity: 0; } }
.animate-flicker {
  animation: fadeIn 2s infinite alternate; }

.inline-textbox .hidden-input {
  display: none; }
  .inline-textbox .hidden-input .buttons {
    margin-top: 10px; }


.box {
  display: block;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: white;
  height: 200px;
  -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.06) !important;
  -moz-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.06) !important;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.06) !important; }
.box.small{
  background-color: green;
  height: 93px;
}
  .box.auto-height {
    height: auto; }
  .box .actions {
    visibility: hidden;
    padding-top: 5px; }
    .box .actions a {
      font-size: 20px;
      opacity: 0.5; }
      .box .actions a:hover {
        opacity: 1; }
  .box:hover {
    -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2) !important; }
    .box:hover .actions {
      visibility: visible; }
  .box .box-header-inactive {
    display: block;
    background-color: #ccc;
    min-height: 120px;
    position: relative;
    border-radius: 4px 4px 0 0;
    }
  .box .box-header {
    display: block;
    background-color: #00B592;
    min-height: 120px;
    position: relative;
    border-radius: 4px 4px 0 0; }

    .box .box-header-revoked{
      display: block;
    background-color: #98BDA0;
    min-height: 120px;
    position: relative;
    border-radius: 4px 4px 0 0;
    }

  
    .box .box-header-small {
      display: block;
      background-color: #00B592;
      min-height: 56px;
      position: relative;
      border-radius: 4px 4px 0 0; }
    .box .box-header.bgcolor2 {
      background-color: #0d6fab; }
    .box .box-header .inline-textbox input.editable {
      position: absolute;
      bottom: 8px;
      width: 94%;
      margin: 0 3%;
      padding: 0;
      color: white;
      font-size: 20px;
      border: 2px solid transparent !important;
      background-color: transparent !important;
      padding-bottom: 2px; }
    .box .box-header .inline-textbox .hidden-input {
      display: none;
      bottom: 10px;
      position: absolute;
      width: 100%; }
      .box .box-header .inline-textbox .hidden-input .buttons {
        margin-top: 0; }
    .box .box-header .inline-textbox.show .hidden-input {
      display: block; }
    .box .box-header .inline-textbox.show input.editable {
      border-bottom: 2px solid white !important;
      bottom: 50px; }
    .box .box-header span {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px;
      color: white;
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .box .box-header-inactive span {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
        color: white;
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .box .box-header span.var-name {
        bottom: 40px;
        font-size: 14px !important; }
      .box .box-header span.var-value {
        font-size: 32px;
        font-weight: 300; }
      .box .box-header span.icon {
        width: auto;
        padding-bottom: 0;
        bottom: auto;
        top: 0;
        left: 0; }
        .box .box-header span.icon-close {
          width: auto;
          padding-bottom: 0;
          bottom: auto;
          top: 0;
          right: 0; }
        .box .box-header span.icon i.zmdi {
          color: rgba(255, 255, 255, 0.5) !important;
          font-size: 24px; }
  .box .box-body {
    padding: 10px;
    font-size: 16px;
    font-weight: 300; }
    .box .box-footer {
      padding: 10px;
      font-size: 16px;
      font-weight: 300; }
    .box .box-body .small * {
      color: #3E4650; }
    .box .box-body .zmdi-info {
      color: black;
      opacity: 0.3;
      font-size: 12px !important; }
  .box .box-status {
    padding: 10px; }
    .box .box-status .online {
      color: green; }
    .box .box-status .label {
      font-size: 12px; }
  .box.add {
    position: relative;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    border: 2px dashed #9EAAB3; }
    .box.add span.content {
      display: block;
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      font-weight: 300; }
  .box.event {
    height: 70px; }

.over-margin {
  margin-top: 10px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom:-10px; }

.maps {
  height: 250px;
  overflow: hidden;
  background: url(../images/maps.jpg) center no-repeat;
  background-size: cover; }

.mt-120 {
  margin-top: -120px; }
  @media (max-width: 992px) {
    .mt-120 {
      /*margin-top:30px;*/ } }

/* TOAST MESSAGES */
#toast-msg {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 100px;
  /* Set a default minimum width */
  background-color: white;
  /* Black background color */
  border-top: 2px solid #00B592;
  border-radius: 2px;
  /* Rounded borders */
  padding: 15px 30px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 20px;
  /* Center the snackbar */
  bottom: 20px;
  /* 30px from the bottom */
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) !important; 
  z-index: 4;
}

  #toast-msg-error {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 100px;
    /* Set a default minimum width */
    background-color: white;
    /* Black background color */
    border-top: 2px solid #ce2d18;
    border-radius: 2px;
    /* Rounded borders */
    padding: 15px 30px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 20px;
    /* Center the snackbar */
    bottom: 20px;
    /* 30px from the bottom */
    -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) !important; }

/* Show the toast-msg when clicking on a button (class added with JavaScript) */
#toast-msg.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s; }

  /* Show the toast-msg when clicking on a button (class added with JavaScript) */
#toast-msg-error.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s; }

.date-range {
  padding: 10px 15px; }

.bootstrap-datetimepicker-widget a {
  color: #6940AC !important; }
.bootstrap-datetimepicker-widget .btn {
  min-width: inherit !important;
  border-radius: 4px; }
.bootstrap-datetimepicker-widget .btn-primary {
  background-color: #6940AC; }
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #6940AC; }

.panel-events {
  	/*-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.07)!important;
      -moz-box-shadow: 0 0 15px rgba(0,0,0,0.07)!important;
      box-shadow: 0 0 15px rgba(0,0,0,0.07)!important;*/ }
  .panel-events.off {
    opacity: 0.3; }
  .panel-events:hover {
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important; }
  .panel-events .panel-body {
    padding: 7px 15px; }
  .panel-events .event-name {
    border-right: 1px solid #ddd; }
  .panel-events.triggers .event-name {
    border: none; }
  .panel-events .actions {
    display: none;
    text-align: right; }
    .panel-events .actions a {
      font-size: 18px;
      margin-right: 15px; }
  .panel-events:hover .actions {
    display: block; }
  .panel-events .zmdi-hc-stack:last-child,
  .panel-events .actions a:last-child {
    margin-right: 0 !important; }
  @media (max-width: 767px) {
    .panel-events .panel-body {
      padding: 20px 15px; }
    .panel-events .event-name {
      border-right: none; }
    .panel-events .arrow .zmdi {
      transform: rotate(90deg);
      font-size: 3em; }
    .panel-events .actions {
      display: block !important;
      text-align: center; }
    .panel-events .event-name, .panel-events .event-var-icons, .panel-events .event-action-icons, .panel-events .arrow {
      text-align: center; }
    .panel-events .event-name .zmdi-hc-stack {
      display: none; }
      .panel-events .event-name .zmdi-hc-stack.visible {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 20px; } }

ul#tab-steps li {
  margin: 0;
  width: 50%; }
  ul#tab-steps li a, ul#tab-steps li a:hover {
    border-radius: 0;
    color: inherit !important;
    background-color: #D2D2D2 !important;
    font-size: 24px;
    font-weight: 200;
    padding: 13px 20px;
    text-align: center; }
    @media (max-width: 767px) {
      ul#tab-steps li a, ul#tab-steps li a:hover {
        font-size: 18px;
        padding: 17px 20px 18px; } }
  ul#tab-steps li.active a, ul#tab-steps li.active a:hover {
    background-color: #00B592 !important;
    color: white !important; }
  ul#tab-steps li.active:not(:last-child):after {
    left: 100%;
    top: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #00B592;
    border-width: 30px;
    margin-top: 0;
    z-index: 1; }
  ul#tab-steps li.active:not(:first-child):before {
    left: 0;
    top: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #d2d2d2;
    border-width: 30px;
    margin-top: 0;
    z-index: 1; }

table.events {
  min-width: 992px; }
  table.events tr, table.events th, table.events td {
    border: none !important;
    vertical-align: middle !important; }
  table.events .btn-sub-border {
    border-color: #ddd !important;
    border-radius: 4px;
    color: black !important;
    display: block;
    text-align: left;
    padding: 12px 20px;
    position: relative; }
    table.events .btn-sub-border:after {
      position: absolute;
      content: "\f276";
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      color: #6940AC;
      font-family: 'Material-Design-Iconic-Font';
      font-size: 24px; }
  table.events .dropdown-toggle:after {
    position: absolute;
    content: "\f2f1";
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #6940AC;
    font-family: 'Material-Design-Iconic-Font';
    font-size: 24px; }

.btnAND, .btnOR {
  background: #e6e6e6;
  color: #878787 !important;
  min-width: 80px;
  padding: 5px 10px;
  position: relative;
  z-index: 2; }
  .btnAND:hover, .btnAND:focus, .btnOR:hover, .btnOR:focus {
    color: #878787 !important;
    background-color: #DDD; }
  .btnAND strong, .btnOR strong {
    font-size: 20px;
    line-height: 0;
    margin-right: 5px; }

.divide {
  border-bottom: 1px solid #ddd;
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 30px; }
  .divide .btnOR {
    position: relative;
    top: 16px;
    -webkit-box-shadow: 0px 0px 0px 10px white !important;
    -moz-box-shadow: 0px 0px 0px 10px white !important;
    box-shadow: 0px 0px 0px 10px white !important; }
  .divide .textOR {
    background-color: white !important;
    font-size: 18px;
    position: relative;
    width: 80px;
    text-align: center;
    display: inline-block;
    top: 13px;
    -webkit-box-shadow: 0px 0px 0px 10px white !important;
    -moz-box-shadow: 0px 0px 0px 10px white !important;
    box-shadow: 0px 0px 0px 10px white !important; }



/*wrapper_device*/

.wrapper_device{
  margin: 0 auto;
  width: 1400px;
  color: #333;
  max-width: 100% !important;
}

/*List device*/
.table_item{
  margin: 0 auto;
  width: 100%;
  font-size: 17px !important;
  
}
.table_item .header_list_item{
  background-color: #f5f5f5;
  height: 37px;
  width: 100%;
  color: #333;
  
}

.header_list_item .w10{
  border:1px solid #ddd;
  text-align: center;
  width:10%;

}
.header_list_item .w20{
  border:1px solid #ddd;
  text-align: center;
  width:20%;

}

.header_list_item .w20{
  border:1px solid #ddd;
  text-align: center;
  width:20%;
}
.header_list_item .w20{
  border:1px solid #ddd;
  text-align: center;
  width:20%;

}
.header_list_item .w20{
  border:1px solid #ddd;
  text-align: center;
  width:20%;

}
.header_list_item .w10{
  border:1px solid #ddd;
  text-align: center;
  width:10%;
}


.table_item #products{
  border:1px solid #ddd;
  width: 100%;
  height: 55px;
  color: #333;
}

.table_item #products th{
  padding: 8px;
}


.table_item #products:hover{
  background: #f1ecde;
  transition-duration: 0.5s;
}


#products .w10{
  text-align: center;
}

#products .w20{
  padding-left: 5px;
  padding-right: 5px;
}

#products .w20 a{
  font-weight: normal;
  display: table-cell;
  color: #337ec1 !important;
}

#products .w20 a:hover{
  color: #eb8e39!important;
}

#products .w20{
  font-weight: normal;
  text-align: center;
}
#products .w20{
  font-weight: normal;
  text-align: center;

}

#products .w20{
  font-weight: normal;
  text-align: center;

}
#products .w10{
  display: table-cell !important;
  text-align: center;

}



/*Form add new device*/
#title_add_device{
  background-color: #00B592 !important; 
}
#button_add_new{
  background-color: #00B592 !important; 
}

/*Button list<->grid*/
.button_change_view_device{
  position: absolute;
  right: 50%;
  width: 40px;
  height: 40px;
  bottom: -20px; 
  display: block;
  text-align: center;
  align-items: center;
  background: #D8D8D8;
  border-radius: 50%;;
  line-height: 0;
  padding-top: 5px;
}

.button_change_view_device:hover{
  background: #A4A4A4;
  transition-duration: 0.5s;
}

.button_change_view_device .title-toggle{
  margin-left: 11px;
  margin-top: -11px;
  display: flex;
}


.button_change_view{
  margin: 0 auto;
  width: 40px;
  height:40px;
  border-radius: 50%;
  background: #D8D8D8;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.button_change_view:hover{
  background: #A4A4A4;
  transition-duration: 0.5s;
}

 .button_change_view .title-toggle:hover{
  background: #A4A4A4;
  border-radius: 5px;
}
.button_change_view .title-toggle{
  margin-right:12px; 
  margin-top:7px;
}

#change_list_grid{
  visibility: hidden;
}
.fa{
  font-size: 20px;
}

.fa:hover{
  color:#424242 !important;
  transition-duration: 0.5s;
}

/*edit api nhan*/
.inline-textbox .placeholder{
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


/*icon device*/
.device_icon{
  width: 30px;
  height: auto;
  cursor: pointer;
}


/*pagination*/
.pagination>.disabled>a{
  color: #777777!important;
}

.pagination>.active>a{
  color: #ffffff !important;
}

.pagination>li>a{
  color:#337ab7 !important;
}


/*.pagination>li>a:hover{
  color:#66CCFF !important;
}
*/
/*background*/
.nav-md{
  background-color: #ffffff;
}

/**/
/*.my-form.ng-invalid{
  color:red;
}*/

/*var-name in popup*/
a .var-name{
  margin-bottom: 10px !important;
  width:70% !important;
}

.divider{
  height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
/*table when hover var*/
a .popup_var{
  display: none;
  position: absolute;
  background-color: #65b694;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: #c0c0c0 1px dotted;
  padding: 5px;
  left: 0px;
  margin-top: 100px;
  width: 100%;
  top: 10px;
  text-decoration: none;
  color:white;
}
a .popup_var tr th{
  padding-right: 5px;
}

.box .box-header:hover .popup_var{
  display: block;
}


/*search bar update*/
.search_bar{
  right:5%;
  position: absolute;
  bottom: -20px; 
  background: #E0F2F7;
  transition: width 0.5s;
  padding: 0;
  /*overflow: hidden;*/
  border: 1px solid #000;
  border-radius:  20px;
}


button.btn-search{
  background: hotpink;
  border: none;
  font-size: 12px;
  padding: 4px;
  position: relative;
  margin-right: 1px;
}

.search_bar input {
  width: 40px;
  height: 40px;
  background: none;
  transition: all .5s ease-in-out;
  border: 0;
  width: 0px;
}
.search_bar input:focus {
  border-color: #000;
  border-width: 0 0 1px;
  /*background: radial-gradient(ellipse at top left, rgba(0, 0, 0, 0) 65%, #ff69b4 140%);*/
  border-radius: 0 15px 15px 0;
  width: 250px;
  padding-left: 45px;
}
.search_bar input:focus ~ button.btn-search {
  background: #514A4A;
  color: #fff;
  left: -253px;
  transform: rotate(800deg);
  width: 40px;
}

.search_bar button {
  transition: all .5s ease-in-out;
}
.search_bar button.btn-search {
  background: #E0F2F7;
  border:0;
  border-radius: 50%;
  height: 40px;
  left: 0;
  width: 38px;
}
/*end search bar*/
.opblock-summary-method-post{
  font-size: 14px;
  font-weight: 700;
  min-width: 80px;
  padding: 6px 15px;
  text-align: center;
  border-radius: 3px;
  background: #f1a924;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  font-family: sans-serif;
  color: #fff;
}
.opblock-summary-method-delete{
  font-size: 14px;
  font-weight: 700;
  min-width: 80px;
  padding: 6px 15px;
  text-align: center;
  border-radius: 3px;
  background: #f93e3e;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  font-family: sans-serif;
  color: #fff;
}
.opblock-summary-method-get{
  font-size: 14px;
  font-weight: 700;
  min-width: 80px;
  padding: 6px 15px;
  text-align: center;
  border-radius: 3px;
  background: #06a806;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  font-family: sans-serif;
  color: #fff;
}
.opblock-summary-method-patch{
  font-size: 14px;
  font-weight: 700;
  min-width: 80px;
  padding: 6px 15px;
  text-align: center;
  border-radius: 3px;
  background: #1d1404;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  font-family: sans-serif;
  color: #fff;
}

.opblock-delete {
  margin: 0 0 15px;
  border: 1px solid #000;
  border-radius: 4px;
  border-color: #f93e3e;
  background: rgba(249,62,62,.1);
}
.opblock-post {
  margin: 0 0 15px;
  border: 1px solid #000;
  border-radius: 4px;
  border-color: #fca130;
  background: rgba(252,161,48,.1);
}
.opblock-get {
  margin: 0 0 15px;
  border: 1px solid #000;
  border-radius: 4px;
  border-color: #49cc90;
  background: rgba(73,204,144,.1);
}
.opblock-patch {
  margin: 0 0 15px;
  border: 1px solid #000;
  border-radius: 4px;
  border-color: #726e6e;
  background: rgba(90, 87, 87, 0.1);
}
#table-wrapper {
  position:relative;
}
#table-scroll {
  height:150px;
  overflow:auto;  
  margin-top:20px;
}
#table-wrapper table {
  width:100%;
    
}
#table-wrapper table * {

  color:black;
}
#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}

.remove_param{
  margin: 10px !important;
  padding: 10px !important;
}


#tableHeader{
  border: 1px solid;
}
#tableParams{
  border: 1px solid;
}

.app-modal-window .modal-dialog {
  width: 1000px;
  height: 1000px !important;
}

.polaroid {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.my-button-lavender {
  background-color: #6940AC; /* Green */
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}
.span-name{
    position: absolute;
    bottom: 0;
    width: 80%;
    padding: 63px 1px;
    font-size: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#textAreaPolicy{
/*  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;*/
  height: 600px;
  width: 100%;
  margin: 0 auto;
  padding-left: 50px;
  padding-top: 30px;
  display: none;
}


.box-policy{
  height: 180px;
}

.policy_do{
  float:right; 
  padding: 5px; 
  padding-right: 10px;
  border:0; 
  background: #65b694;
  color:white;
  font-size: 30px !important;
}

.fix-position {
  position: fixed !important;
  top: 10px;
  z-index: 1000;
}

.back_button_menu {
  position: relative;
  padding-left: 3%;
  height: 0;
  background: #f0f0f0; 
  font-size: 35px;
  z-index: 1000;
}


.menu_policy_detail{
  float:left;margin-left:0px; 
  width: 20%;
  height: 0;
  background: #f0f0f0;
  position: fixed;
  left: 0;
  top: 30%;
}
.edited-enable{
  width: 100%;background-color: #0e2a36;color:#aed3e6;font-family: Andale Mono, Consolas, monospace;
  letter-spacing: 1px;
  border: 1px solid #f1f1f1;
  text-align: left;
}
.edited-disable{
  width: 100%;background-color: #f1f1f1;color:#191918;font-family: Andale Mono, Consolas, monospace;
  letter-spacing: 1px;
  border: 1px solid #f1f1f1;
  text-align: left;
}

.title-heading1{
  font-size: 22px;
    line-height: 28px;
    color: #222;
}
.topic-heading{
  padding: 10px;
  width: 100%;
  line-height: 30px;
  background: #337ab7;
  color: white;
}

.icon_search_in_certificate{
  font-size: 30px;
  margin-right: 10px;
  position: absolute;
  padding-top: 10px;
}
.input_search_in_certificate{
  width: 94% !important;
  height: 50px !important; 
  border: 0 !important;
  border-bottom: 2px solid #0d427a !important;
  padding-left: 50px !important;
}



#listattach {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 35em;
  overflow: scroll;
  overflow-x: hidden;
}

#listattach li label {
  border-bottom: 1px solid #ddd;
  margin: 0px; 
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: inline-block;
  float:right;
  width: 100%;
}

#listattach li label:hover:not(.header) {
  background-color: #eee;
}

.multiselect-parent{
  width: 100%;
}

.multiselect-parent .dropdown-toggle {
  width: 100%;
  position: relative;
}

.multiselect-parent .dropdown-menu {
  width: 100%;
  position: relative;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}
.multiselect-parent{
  position: relative;

}

.list-group-item-text{
  font-size: 1.0vw;
}
@media screen and (max-width: 500px) {
  .list-group-item-text {
     font-size: 8px;
  }
}

.dropdown-menu li a{
  cursor: pointer;
  /*font-size: 15px !important;*/

}

.list-group-item{
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
}

/*show menu*/
.collapse{
  display: block;
}

.menubtn_cert{
  position:relative; 
  float:right; 
  margin-right:10px;
  font-size:30px !important;
  
}
.menubtn_cert:hover{
  color:#0d427a ;
}


/* checkbox */
input[type=checkbox].css-checkbox {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:30px;
  height:25px; 
  display:inline-block;
  line-height:25px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:25px;
  vertical-align:middle;
  cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -25px;
}
label.css-label {
background-image:url(/static/v2/images/csscheckbox.png);
}



.fieldnameintable{
  min-width:100px !important;
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}


/* menu action */
.menu-action{
  right:8%;
  position: absolute;
  bottom: -35px; 
  color: #64b693;
  z-index: 1;
}

/* number selected */
.numberobj{
  text-align: center;
  margin-right:14%;
  float: right;
  color: #64b693;
  /* bottom: -3px; */
  font-weight:700;
  background-color: #dddddd;
  padding: 0 5px;
  margin-top: -1.5px !important;
}

@media (max-width: 900px) {
  .numberobj{
    margin-top: 45px !important;
    margin-right: 27%;
  }
  .menu-action{
    bottom: -88px;
    margin-right:0;
  }
  .search_bar{
    right:50%;
    bottom: -66.5px; 
  }
  .wrapper_device{
    margin-top:50px;
  }
}


/* sprite device icon */
.sprite_icon{
  background: url("/static/v2/assets/images/icon/sprite_icon.png");
  background-size: 240px 30px;
}

.board-chip{
  width: 30px; 
  height: 30px; 
  background-position: 0 0;
}

.s17_icons_tracks_mems_17{
  width: 33px; 
  height: 30px; 
  background-position: -31px 0;
}
.temperature{
  width: 25px; 
  height: 30px; 
  background-position: -63px 0;
}

.humidity{
  width: 23px; 
  height: 30px; 
  background-position: -88px 0;
}

.location-041{
  width: 27px; 
  height: 30px; 
  background-position: -111px 0;
}

.webcam-013{
  width: 30px; 
  height: 30px; 
  background-position: -138px 0;
}

.thermometer-018{
  width: 23px; 
  height: 30px; 
  background-position: -168px 0;
}

.bulb-030{
  width: 23px; 
  height: 30px; 
  background-position: -191px 0;
}

.wireless-046{
  width: 25px; 
  height: 30px; 
  background-position: -214px 0;
}


/* show row disabled */
.disableClick{
  pointer-events: none;
  cursor: none !important;
  text-decoration: none;
  background-color: #e5e5e5 ;
}
.row-disable{
  color: #9E9E9E !important;
}

.row-revoked{
  color:#98BDA0 !important;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1b1c1d;
}

.home-title {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	color: white;
	max-width: 90%;
	padding: 2em 20em;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0px 0px 2px #131415;
  font-family: 'Open Sans', sans-serif;
}

.home-title h1 {
	font-size: 2.25em;
	font-weight: 700;
	letter-spacing: -1px;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #f4f7fc;
  /* position: fixed; */
  top: 0px;
  width: 300px;
  height: 100%;
  color: #23282e;
  font-weight: bold;
}
.nav-side-menu .brand {
  background-color: #AAC9C7;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #8cc5cb;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  /* color: #e1ffff; */
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #8cc5cb;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.selectedinmenu{
  border-left: 3px solid #d19b3d !important;
  background-color: #8cc5cb;

}
@media (max-width: 900px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 900px) {
  .nav-side-menu .menu-list .menu-content {
    /* display: block; */
  }
}

@media (max-width: 900px){
  .lastchild{
    display: none;
  }
}
@media (min-width: 900px) {
  .menucontainer{
    position:fixed;
    width:20%;
    left:0;
    transition: width .5s;
    /* background-color: red; */
    /* bottom:0; */
  }
  .contentcontainer{
    /* box-sizing: border-box; */
    padding-left:21%;
    transition: all linear .5s;
    
    /* padding-left: 2%; */

  }
  
  .menu-content{
    /* height: 70vh; */
  }
  .lastchild{
    color: white;
    border-radius: 999px;
    width: 50px;
    line-height: 50px;
    padding: 0 15px !important;
    /* border-radius: 999px; */
    background-color: #131415;
    position: fixed !important;
    bottom: 10px;
    left:100px;
    border:0 !important;
    font-size: 20px;
    z-index: 3 !important;
    opacity: 0.5;
    /* color:red; */
  }
  
  .col-menu {
    padding:0;
    /* top:140px; */
    display: flex;
    /* position:fixed; */
  }

}



.menu-content ul{
  overflow: hidden !important;
}

.nameattribute{
  font-weight: bold;
  color: #152935;
}
.nameattribute span{
 font-weight: normal;
}

.form-inline{
  background-color:#D0D6DC;
  border-radius: 5px;
  color:#152935;
  padding: 10px;
}
.form-inline input{
  background-color:#D0D6DC;
  border:0;
  border-bottom: solid 1px #152935;
  width: 90%;
}
.btn-createaction{
  margin-left:5px;
  border-radius: 2px;
}
.actiondetail{
  z-index: 1;
}

.actioncontent .title-table{
  font-size: 25px;
  cursor: pointer;
  color: #3d70b2;
}
.actioncontent .title-table i{
  font-size: 15px;
}
.actioncontent .title-table:hover{
  color: #3AC9C2;
  transition: 1s;
}


.tablepaging{
  border: 1px solid #dfe3e6;
  border-bottom:none;
  display: inline;
  padding-top: 9px;
  line-height: 40px;
}
.tablepaging .left{
  float:left;
}

.tablepaging .right{
  float:right;
}
.tableaction tr{
  width:100%;
  border: 1px solid #dfe3e6;
  line-height: 40px;
  color:#152935;
}
.tableaction .content td a{
  color:#152935;
  font-weight: normal !important;
  padding-left:15px;
}
.tableaction .content:hover{
  border: 1px solid #3d70b2;
  transition: .5s;
}

.tableaction tr:nth-child(even){
  background-color: #f5f5f5;
}
.tablepaging,
.tableaction{
  transition: all linear 0.5s;
}

.tablepaging.ng-hide,
.tableaction.ng-hide{
  opacity: 0;
}


.actioncreate{
  margin:0 5rem;
}

.titlecreate{
  color:#5a6872;
  border-bottom: 2px solid #4178be;
  padding: 3rem 0;
}


@media (max-width: 900apx){
  .createactiondir{
    display: none;
  }

}

.changeinput{
  cursor: pointer;
  color: #3d70b2;
  font-weight: bold;
}
.changeinput:hover{
  background-color: #0d6fab;
  color: white;
  transition: .5s;
}

.invokecode{
  cursor: pointer;
  color: #3d70b2;
  font-weight: bold;
  border: solid 2px #3d70b2 !important;
}

.invokecode:hover{
  background-color: #0d6fab;
  color: white;
  transition: .5s;
}

.invisiblecontent{
  display: none;
}

.sumary{
  background-color: #eee;
  height: 100%;
  border: solid 1px;
}


.web-action{
  max-width:100%; 
  background-color: #F2F2F2;
  box-shadow: 3px 3px 3px #606060 !important;
  overflow:auto; 
  /* padding:20px; */
  /* height:250px; */
  /* display: block; */
}

.header-web-action{
  border: solid 1px;
  padding: 10px;
  height: 50px;
}


.disable-click{
  color:#878787 !important;
  pointer-events: none;
  /* cursor: not-allowed !important; */
  text-decoration: none;
}
