<div ng-include="'/static/' + uiver + '/navigation/navigation.view.html?v=' + ver" ng-controller='NavigationController'>

</div>
<title>Spaces</title>

<div class="container-fluid">
  <div class="title-bar">
    <span class="title-text">Spaces </span>
    <a style="cursor: pointer;" ng-click="addNewSpace2()" class="btnAdd">+</a>
   
    <div class="search_bar" ng-click="searchBar($event)">
      <input type="text" name="search" placeholder="search" ng-model="searchText.name" ng-change="changeSearch()">
      <button type="submit" class="btn btn-search">
        <i class="fa fa-search"></i>
      </button>
    </div>
    
  </div>
  <br>
  <br>
  <br>
 
    <!-- button add new-->
    <div  ng-show="!viewModeList" >
        <div ng-show="!baddNew" ng-click="showPopupAddNewSpace()" class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <a class="box add">
              <span class="content">
                <i class="zmdi zmdi-plus-circle zmdi-hc-2x"></i><br>
                <span>Add a space</span>
              </span>
      
            </a>
          </div>
    </div>
    

    <!-- form add new-->
    <div ng-show="baddNew " class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
      <div class="box">
        <div class="box-header">
          <input id="spacename" ng-model="newSpace.name" ng-blur="addNewSpace(newSpace.name)" ng-keydown="$event.which === 13 && addNewSpace()"  value="123">
        </div>
        <div class="box-body">
          <div class="small"></div>
     
        </div>
        <hr class="mt0 mb0">
        <div class="box-status">
          <div class="pull-left">
            <span ng-repeat="tag in item.tags" class="label label-default mr5">{{tag}}</span>
          </div>
        
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div ng-repeat="item in spaceList | filter:searchText" class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="box" ng-hide="viewModeList" >

          <div class="box-header" style="height:50px !important;">
            <div class="icon_device">
              <table width="100%">
                <tr>
                  <td width="10" align="right" class="actions" style="cursor:pointer;">
                    <!-- <button class="policy_do" data-toggle="dropdown" style="background:#e5e5e5 !important">...</button> -->
                    <a data-toggle="dropdown" class="btn-remove-item" style="opacity: 0.8 !important;" data-toggle="tooltip"
                      data-placement="top" title="Menu"><i class="zmdi zmdi-menu menubtn_cert"></i></a>
                    <ul class="dropdown-menu" style="position:relative; float:right; margin-right:10px;">
                      <!-- <li><a ng-click="renameSpace(item,1)">Rename</a></li> -->
                      <li ng-class="item.status=='Blocked'? 'disableClick':''"><a ng-click="UpdateNp(item,true)">Block</a></li>
                      <li ng-class="item.status=='Unblocked'? 'disableClick':''"><a ng-click="UpdateNp(item,false)">Unblock</a></li>
                      <li><a ng-click="viewDetail(item)">Details</a></li>
                      <li><a ng-click="removeSpace(item)">Delete</a></li>
                    </ul>
                  </td>
                </tr>
              </table>
            </div>
            <div style="height: 70%; cursor:pointer;">
              <p ng-click="viewDetail(item)" style="
              display:block;
              word-wrap:break-word; position: absolute;
              bottom: 0;
              width: 100%;
              padding: 10px;
              color: white;
              font-size: 20px;">{{item.namespace}}</p>
            </div>
          </div>
          <hr class="mt0 mb0">
          <!-- <div class="box-status">
            <div class="pull-left">
              <span class="fs18 fw300" style="font-size:14px;"><b>Created time: </b>{{item.createDate}}</span>
            </div>
          </div> -->
          <div class="box-status">
              <div class="pull-left">
                <span class="fs18 fw300" style="font-size:14px;"><b>Status: </b>{{item.blocked}}</span>
                <!-- <span class="fs18 fw300" style="font-size:14px;"><b>Status: </b>{{item.status}}</span> -->
              </div>
          </div>
          <div class="box-status">
            <div class="pull-left">
              <span class="fs18 fw300" style="font-size:14px;"><b>Create date: </b>{{item.createdate}}</span>
              <!-- <span class="fs18 fw300" style="font-size:14px;"><b>Status: </b>{{item.status}}</span> -->
            </div>
        </div>
        <div class="box-status">
          <div class="pull-left">
            <span class="fs18 fw300" style="font-size:14px;"><b>Last update: </b>{{item.lastudate}}</span>
            <!-- <span class="fs18 fw300" style="font-size:14px;"><b>Status: </b>{{item.status}}</span> -->
          </div>
      </div>
        </div>
      </div>

 </div>
  </div>
</div>

  <div id="mapcontent" ng-show="spaceViewMode == viewMode.map ? true: false" class="mt50 row" style="margin-top: 10px !important;    margin-left: 0px;">
    <div style="" id="mapdiv" style="padding-left:20px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
  </div>

  <br>
    <div class="showmore" style="text-align: center; margin-bottom:30px;" ng-show="show2more">
      <button class="btn btn-primary" ng-click = "showMoreSpaces()">Show more</button>
    </div>

</div>







<style>
  .box .box-header input {
  background: inherit;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0px;

}

.box-header{
  cursor: pointer;
}
.btn-remove-item{
  cursor: pointer;
}
a.box.add {
  cursor: pointer;
}


  div#chicken {
    width: 300px !important;
  }

  div#chicken_contentDiv {
    width: 300px !important;
    overflow: auto;
  }

.selected-icon {
    background-color: rgb(203, 206, 209);
  }
.pagination-first{
  display: none !important;
}
.pagination-last{
  display: none !important;
}
/*.pagination-page{
  display: none !important;
}*/


</style>


<script>
  $('#mapcontent').css("height", (window.innerHeight - 200) + "px");
  $('#mapcontent').css("width", (window.innerWidth - 20) + "px");

  $('#mapdiv').css("height", (window.innerHeight - 200) + "px");
  $('#mapdiv').css("width", (window.innerWidth - 20) + "px");
</script>


<script type="text/ng-template" id="edit-name_space.html">
  <div class="modal-header bgColor2" id="title_add_space">
    <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="zmdi zmdi-close"></i></button>
    <h4 class="modal-title">Action</h4>
    <h3 class="modal-big-title">Create a space</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Name</label>
      <input type="text" ng-model="new_space_name" class="form-control input-lg" placeholder="Name...">
      <span style="color:red" ng-show="bInvalidName">Name cannot included invalid character</span>
    </div>

  </div>
  </div>
  <div class="modal-footer text-center">
    <div class="row">
      <div class="col-xs-6"><a ng-click="cancel()" class="btn w100p btn-sub-border btn-lg" data-dismiss="modal">Cancel</a></div>
      <div class="col-xs-6"><a ng-click="addNewSpace()" class="btn w100p btn-sub btn-lg" data-dismiss="modal" id="button_add_new">Add</a></div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="add_new_space.html">
  <div class="modal-header bgColor2" id="title_add_space">
    <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="zmdi zmdi-close"></i></button>
    <h4 class="modal-title">Action</h4>
    <h3 class="modal-big-title">Create a space</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Name</label>
      <input type="text" ng-model="new_space_name" class="form-control input-lg" placeholder="Name...">
      <span style="color:red" ng-show="bInvalidName">Name cannot included invalid character</span>
    </div>

  </div>
  </div>
  <div class="modal-footer text-center">
    <div class="row">
      <div class="col-xs-6"><a ng-click="cancel()" class="btn w100p btn-sub-border btn-lg" data-dismiss="modal">Cancel</a></div>
      <div class="col-xs-6"><a ng-click="ok()" class="btn w100p btn-sub btn-lg" data-dismiss="modal" id="button_add_new">Add</a></div>
    </div>
  </div>
</script>
