<script src="/static/v2/assets/js/Chart.bundle.min_2.7.3.js"></script>
<script src="/static/v2/assets/js/Chart.plugin.label.js"></script>
<script src="/static/v2/assets/js/Chart.plugin.datalabels_0.6.0.js"></script>

<div class="container-fluid">
        <div class="row">
            <div ng-include="'/static/' + uiver + '/navigation/navigation.view.html?v=' + ver"
                ng-controller='NavigationController'>
            </div>
        </div>
        <div class="row">
            <div class="title-bar">
                <a  style="display:-webkit-box; cursor: pointer;">
                    <span class="title-text">Monitors</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div ng-include="'/static/' + uiver + '/leftmenu/leftmenu.view.html?v=' + ver" ng-controller='LeftMenuController'>
            </div>
            
            <div class="contentcontainer col-xs-12" id="contentcontainer">
                <!-- <div class="row" style="height:50vh;overflow-y: scroll;padding-left: 30px;"> -->
                <div class="row" style="padding-left: 30px;">
                    <h3 class="nameattribute">DashBoard</h3>
                    <div class="row">
                        <div class="col-xs-12 col-lg-12" style="padding: 5px;">
                            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-1 time-range-label" ><b>Time Frame</b></div>
                            <div class="col-sm-6 col-xs-10 col-md-4 col-lg-3">
                                <select style="cursor: pointer;" size="1" name="table-volumes_length" class="form-control form-control-inline" id="timeRange"
                                    ng-model="timeFrame">
                                    <option value="50">Recent 50</option>
                                    <option value="100">Recent 100</option>
                                    <option value="200">Recent 200</option>
                                </select>
            
                            </div>
            
                        </div>
                        <div class="col-xs-12 col-lg-12" style="padding: 5px">
                            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-1 time-range-label" ><b>Limit to</b></div>
                            <div class="col-sm-6 col-xs-10 col-md-4 col-lg-3">
                                <select style="cursor: pointer;" size="1" name="table-volumes_length" class="form-control form-control-inline"
                                    ng-model="selectedAction">
                                    <option value="">All Actions</option>
                                    <option ng-repeat="item in actionList track by $index">{{item}}</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-6 sumary invisiblecontent">
                        <div class="row" style="border-bottom:solid 1px; line-height: 30px;">
                            <span style="font-weight:bold;color:black;margin:10px;">Activity summary</span>
                            <span>Invocation counts per action or rule</span>
                        </div>
                        <div class="row" style="text-align:center;">
                            <p>Not yet</p>
                        </div>
                        
                    </div>
                    <br><br>
                    <div class="row mar-bot-50px">
                        <div class="col-lg-5 col-md-5 col-xs-5">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="chart-item">
                                    <span style="font-weight:bold;color:black">Activity Summary</span>
                                   
                                    <hr>
                                    <canvas id="rule_chart"  style="max-height: 400px; width: 90%; overflow: auto"></canvas>
                                </div>
                                <div class="chart-item" ng-show="false">
                                    <i class="fa fa-gear fa-spin" style="font-size:50px; color: #6B6D6F; margin: 15% 48%;"></i>
                                </div>
                            </div>
            
                        </div>
                        <span style="font-weight:bold;color:black;margin:10px;">Activity logs</span>
                        <div class="col-lg-7 col-md-7 col-xs-7" style="overflow-y: scroll;    max-height: 440px;">
                            
                            <div class="row" style="border-bottom:solid 1px; line-height: 30px;">
                                
                                <div style="float:right;">
                                    <i class="fas fa-arrows-alt-h"></i>
                                    <a ng-click = "initData();">
                                        <i class="fas fa-retweet"></i>
                                    </a>
    
                                </div>
                            </div>
                            <div class="row" >
                                <div ng-repeat = "item in listActivity" style="padding-top:10px;">
                                    <div class="col-xs-9">
                                            <img ng-class = "item.response.status != 'success' ? 'invisiblecontent':''" style="width:15px; height:15px; object-fit: cover;" src="/static/v2/images/success.png" alt="Success">
                                            <img ng-class = "item.response.status == 'success' ? 'invisiblecontent':''" style="width:15px; height:15px; object-fit: cover;" src="/static/v2/images/fail.png" alt="Fail">
                                            <span style="color:black; font-weight:bold;">{{item.pakage}}</span>
                                            <p style="font-weight:bold;"><a  ng-click = "popupViewDetail(item)">{{item.activationId}}</a></p>
                                            <i ng-class = "$index == {{listActivity.length -1}} ? 'invisiblecontent':''" style = "font-size:30px;" class="fas fa-long-arrow-alt-down"></i>
                                        
    
                                    </div>
    
                                    <div class="col-xs-3">
                                        <span>{{item.start}}</span>
                                        <p>{{item.duration}} ms</p>
                                    </div>
    
                                </div>
                            </div>
                        
                        </div>
                      
                    </div>
                    <div style="margin-top: 30px;" class="row mar-bot-50px">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="chart-item">
                                    <span style="font-weight:bold;color:black">Timeline Activity</span>
                                    <hr>
                                    <canvas id="timeline_chart" height="300" style="max-height: 320px"></canvas>
                                </div>
                                <div class="chart-item" ng-show="false">
                                    <i class="fa fa-gear fa-spin" style="font-size:50px; color: #6B6D6F; margin: 15% 48%;"></i>
                                </div>
                            </div>
            
                        </div>
                        </div>
                    <br><br><br><br>
                    <!-- <img src = "/static/v2/images/activityTimeline.png"/> -->
                    <hr>
                    <br>
                    <br>
                    <br>
                    
                   
                   
                </div>
    
            </div>
        </div>
    
    
    
    
    
    
    </div>
    <script type="text/ng-template" id="viewactivation.html">
        <div class="modal-header bgColor2" id="title_add_device">
          <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="zmdi zmdi-close"></i></button>
          <h4 class="modal-title">View Activation</h4>
          <h3 class="modal-big-title">{{thisActivation.activationId}}</h3>
        </div>
        <div class="modal-body">
            <!-- <p style="margin:30px; word-break: break-all;">
                {{activationString}}
            </p> -->
            <textarea id = "focusname" style="background-color:#4F4F4F; color: white; font-weight:bold; width:100%;height:500px; padding-left:20px;" ng-model = "activationString"></textarea>
        </div>
        
        <!-- <div class="modal-footer text-center">
          <div class="row">
            <div class="col-xs-6"><a ng-click="cancel()" class="btn w100p btn-sub-border btn-lg" data-dismiss="modal">Cancel</a></div>
            <div class="col-xs-6"><a ng-click="addNewDevice2()" class="btn w100p btn-sub btn-lg" data-dismiss="modal" id="button_add_new">Add</a></div>
          </div>
        </div> -->
    </script>

    