<div ng-include="'/static/' + uiver + '/navigation/navigation.view.html?v=' + ver" ng-controller='NavigationController'>
</div>
<!-- 

<div class="container">
  <div class="row mt50">
    <div class="col-sm-7 mb30">
      <img ng-click="homepage()"  src="/static/v2/assets/lamdt/images/iot-hero.svg" class="center-block img-responsive" alt="">
    </div>
    <div class="col-sm-5">
      <div class="medium-title">Đăng nhập vào IoTBox</div>
      <div class="mt10 mb30">Vui lòng điền thông tin của bạn</div>

      <form action="">

        <div class="form-group mb20">
          <label class="title">TÊN ĐĂNG NHẬP</label>
          <input type="text" ng-model="userLogin.account"  class="form-control input-lg" placeholder="Nhập tên đăng nhập...">
        </div>

        <div class="form-group">
          <label class="title">MẬT KHẨU</label>
          <input type="password" ng-model="userLogin.password" ng-keydown="$event.which === 13 && login()" class="form-control input-lg" placeholder="Nhập mật khẩu...">
        </div>

        <div ng-hide="true" class="mt10"><label><input  type="checkbox" class="mr10"> Nhớ mật khẩu</label></div>

        <div class="mt30">
          <a ng-click="login()"   class="btn btn-main mb20 mr20">Đăng nhập</a>
          <a href="/iotbox/register/google" class="btn btn-default mb20 mr20">Google</a>
          <a href="/iotbox/register/github" class="btn btn-default mb20">GitHub</a>
        </div>

      </form>


    </div>
  </div>


  <div class="mt50 small text-center">&copy; VNG Corporation</div>

</div> -->

<style media="">

  div.backgroud.ng-scope {
      background: #fff;
    }

</style>
