<div class="container-fluid">
    <div class="row">
        <div ng-include="'/static/' + uiver + '/navigation/navigation.view.html?v=' + ver"
            ng-controller='NavigationController'>
        </div>
    </div>
    <div class="row">
        <div class="title-bar">
            <a href="#spaceaction" style="display:-webkit-box; cursor: pointer;">
                <span class="title-text">Actions / {{thisSequence.name}}</span>
            </a>
        </div>
        <div>
                
        </div>
    </div>



    <div class="row">
        <div class="menucontainer left_col col-menu" id="menucontainer" style="height:100%;z-index:2;">
            <div class="nav-side-menu" style="height:100%; width:100%;">
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                <div class="menu-list" style="height:100%; width:100%;">
                    <ul id="menu-content" class="menu-content collapse out">
                        <li ng-click="showItem(0)" ng-class="listshow[0]==true?'selectedinmenu':''">
                            &nbsp &nbsp <i class="fas fa-code"></i><span> &nbsp &nbsp Sequence</span>
                        </li>
                        <li ng-click="showItem(1)" ng-class="listshow[1]==true?'selectedinmenu':''">
                            &nbsp &nbsp <i class="fas fa-terminal"></i><span> &nbsp &nbsp Runtime</span>
                        </li>
                        <li ng-click="showItem(2)" ng-class="listshow[2]==true?'selectedinmenu':''">
                            &nbsp &nbsp <i class="fas fa-globe"></i><span> &nbsp &nbsp Endpoints</span>
                        </li>
                        <li ng-click="showItem(3)" ng-class="listshow[3]==true?'selectedinmenu':''">
                            &nbsp &nbsp <i class="fas fa-bolt fa-lg"></i><span> &nbsp &nbsp Connected Triggers</span>
                        </li>
                        <!-- <li ng-click="showItem(4)" ng-class="listshow[4]==true?'selectedinmenu':''">
                            &nbsp &nbsp <i class="fas fa-link fa-lg"></i><span> &nbsp &nbsp Enclosing Sequences</span>
                        </li> -->

                    </ul>
                </div>
            </div>
        </div>
        <div class="contentcontainer col-xs-12" id="contentcontainer">
            <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-11">
                        <i class="fas fa-link fa-lg" style="font-size:30px;"></i>
                        <span style="font-size:30px;" class="nameattribute">{{thisSequence.name}}</span>
                </div>
                <div class="col-xs-1">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu" >
                                <li><a onmouseover = "this.style.backgroundColor='red';" onmouseout = "this.style.backgroundColor='white';"  ng-click="deleteAction(thisSequence);$event.stopPropagation();">Delete Action</a></li>
                            </ul>
                </div>
            </div>
            <div class="col-xs-12" ng-show=listshow[0]>
                        <div class="col-md-6 col-xs-6" id="codecontent">
                            <div style="width:97%;">
                                <div>
                                    <h3 class="col-xs-7"><b>Sequence Actions</b></h3>
                                    <h4 class="col-xs-1"><a ng-click="addAction()">Add &nbsp<i
                                                class="fas fa-plus-circle"></i></a></h4>
                                    <h4 class="col-xs-2"><a ng-click="popupChangeInput()">Change Input &nbsp<i class="fas fa-edit"></i></a></h4>
                                    <h4 ng-show="!showBtnSave" class="col-xs-1"><a ng-click="invokeCode()" >Invoke &nbsp<i class="far fa-play-circle"></i></a></h4>
                                    <h4 ng-show="showBtnSave" class="col-xs-1"><a ng-click="save()">Save &nbsp<i class="fas fa-save"></i></a></h4>
                                </div>

                                <table id="actionsListTable" class="tableaction col-xs-12">
                                    <tr class="header">
                                        <th class="col-xs-1"><span></span></th>
                                        <th class="col-xs-5"><span>NAME</span></th>
                                        <th class="col-xs-5"><span>PACKAGE</span></th>
                                    </tr>

                                    <tr class="content"
                                        ng-repeat="item in listActionSelected">
                                        <td >
                                            <div style="    position: relative;
                                            width: 15px !important;" >
                                                
                                                <div style="
                                                height: 0;
                                                width: 0;
                                                border-left: 6px solid transparent;
                                                border-right: 6px solid transparent;
                                                border-bottom: 6px solid #389be2;
                                                padding-top: 5px;
                                                margin-bottom: 4px;
                                                " role="button" ng-click="move('up',item)"></div>

                                                <div style="
                                                height: 0;
                                                width: 0;
                                                border-left: 6px solid transparent;
                                                border-right: 6px solid transparent;
                                                border-top: 6px solid #389be2;
                                                padding-bottom: 5px;
                                                " role="button" ng-click="move('down',item)"></div>
                                        </div>
                                        </td>
                                        <td>
                                            <a  ng-click="viewDetailAction(item);"> {{item.name}}</a>
                                        </td>
                                        <td><a >{{item.path}}</a></td>
                                        <td>
                                            <div class="col-xs-1">
                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu" >
                                                        <li><a onmouseover = "this.style.backgroundColor='red';" onmouseout = "this.style.backgroundColor='white';"  ng-click="removeAction($index);">Remove Action</a></li>
                                                    </ul>
                                        </div>
                                        </td>
                                    </tr>
                                </table>
                                <span ng-show="!(listActionSelected).length">You don't have any connected actions
                                    yet.</span>
                            </div>
                            <div ng-hide="expand" class="buttonshow"
                            style="height: 100%; padding:auto; padding: 0; width:3%; float:left; padding-left:10px;">
                            <i style="font-size:20px;cursor:pointer;" ng-click="resizeCodeContent()"
                                class="fas fa-caret-right"></i>
                            </div>
                            <div ng-show="expand" class="buttonshow"
                                style="height: 100%; padding:auto; padding: 0; width:3%; float:left; padding-left:10px;">
                                <i style="font-size:20px;cursor:pointer;" ng-click="resizeCodeContent()"
                                    class="fas fa-caret-left"></i>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-xs-12" id="resultcontent" style="border-left:solid 1px;">
                                <div class="col-xs-12 headercode" style="line-height:40px; border: solid 1px;">
                                    <div class="left" style="float:left;">
                                        <span
                                            style="padding-left:10px; font-weight:bold; color:black; font-size:20px;">Activations</span>
                                    </div>
                                    <div class="right" style="float:right;">
                                        <span class="changeinput" style="padding:10px;"
                                            ng-click="resizeAllContent()">{{actionexpand}}
                                            <i ng-hide="expandall" class="far fa-caret-square-up"></i>
                                            <i ng-show="expandall" class="far fa-caret-square-down"></i>
                                        </span>
        
                                        <span class="invokecode" ng-click="clearResult()" style="padding:8px 20px;">Clear</span>
                                    </div>
                                    <div style="float:right;"> Action running for {{actionTime}}s (Timeout: 300s)</div>
                                </div>
                                <div class="col-xs-12 codecontent" style="padding:0; height: 75vh; overflow: scroll;">
                                    <div ng-class="lisActivationInfor.length>0?'invisiblecontent':''" class="contennodata"
                                        style="padding:50px; text-align:center;">
        
                                        <p ng-show="!showInvokingText">No Activations Here. Invoke your Action and see the
                                            results.</p>
                                        <p ng-show="showInvokingText">Invoking...please wait.....</p>
                                    </div>
                                    <div ng-repeat="item in lisActivationInfor">
                                        <div class="row" style="padding:20px; background-color: #EFEFEF;">
                                            <i class="fas fa-chevron-right" ng-hide="contentexpand[$index]"
                                                style="color:#152935; cursor: pointer;" ng-click="resizeContent($index)"></i>
                                            <i class="fas fa-chevron-down" ng-show="contentexpand[$index]"
                                                style="color:#152935; cursor: pointer;" ng-click="resizeContent($index)"></i>
                                            <span>&nbsp</span>
                                            <i class="far fa-check-circle"></i>
                                            <!-- <img src="notyet" alt="image success or fail" style="height:10px; width:10px;"></img> -->
                                            <span>&nbsp {{thisAction.name}}</span>
                                            <span>&nbsp &nbsp {{activationInfor.duration}} ms</span>
                                            <span>&nbsp &nbsp {{item.timeNow}}</span>
                                        </div>
                                        <div id="{{ 'contentactivation' + $index }}" style="overflow:hidden;">
                                            <div class="row" style="padding:10px 30px;">
                                                <p style="color:black; font-weight: bold;">Activation ID:</p>
                                                <p>{{item.data.activationId}}</p>
                                            </div>
                                            <div class="row" style="padding:10px 30px;">
                                                <p style="color:black; font-weight: bold;">Results:</p>
                                                <p>{{item.data.response.result}}</p>
                                            </div>
                                            <div class="row" style="padding:10px 30px;">
                                                <p style="color:black; font-weight: bold;">Logs:</p>
                                                <p ng-repeat="item in activationInfor.logs">{{item}}</p>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
        
        
                                </div>
                        </div>
                   

           
            </div>
     
            <div class="col-xs-12" ng-show=listshow[1]>
                    <div class="col-lg-12 col-xs-12">
                            <div class="col-xs-12 headercode" style="line-height:40px; border: solid 1px;">
    
                                <div class="left" style="float:left;">
                                    <span
                                        style="padding-left:10px; font-weight:bold; color:black; font-size:15px;">Runtime</span>
                                    <i class="fas fa-info-circle" style="color:#4178be;"
                                        title="The following code will be excuted each time the action are invoked. Input and output are in the form of JSON"></i>
                                </div>
                                <div class="right" style="float:right;">
                                    <span ng-show="showBtnSaveRuntime" class="changeinput" style="padding:10px;" ng-click="resetRuntime()">Reset</span>
                                    <span ng-show="showBtnSaveRuntime" class="invokecode" style="padding:8px 20px;" ng-click="saveRuntime()">Save</span>
                                </div>
                            </div>
                            <div class="col-xs-12 codecontent" style="padding:0;">
                                <div class="col-xs-12" style="margin-top:30px;">
                                    <div class="col-xs-4">
                                        <div style="width:70%; text-align:center; margin:0 auto;">
                                            <div
                                                style="width: 145px; height: 145px; border-radius: 75px;border:solid 2px #4178be; margin:0 auto; text-align: center; padding:53px 0;">
                                                <span style="font-size:25px; font-weight:bold;"
                                                    ng-style="{'color':runtimeselectedInfo.color}">{{runtimeselectedInfo.ext}}</span>
                                            </div>
                                            <p></p>
                                            <select ng-disabled ="true" style="color:#152935; height: 30px; width: 100px; opacity: 0.5;
                                            cursor: not-allowed;"
                                                ng-model="runtimeselectedName">
                                                <option ng-selected="item.name == runtimeselectedInfo.name"
                                                    ng-repeat="item in listRuntime">{{item.name}}</option>
                                            </select><br><br>
                                            <span ng-show="showWarning"><b>Changing Runtime Kind</b>
                                                Changing the runtime kind may cause your Action to fail. Make sure to also
                                                change your code to the appropriate language.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div style="width:70%; text-align:center; margin:0 auto;">
                                            <div
                                                style="width: 145px; height: 145px; border-radius: 75px;border:solid 2px #4178be; margin:0 auto; text-align: center; padding:53px 0;">
                                                <a ng-click="minusTimeout()"><i class="fas fa-minus-circle"></i></a>
                                                <input ng-blur="updateTimeout()"
                                                    style="font-size:25px; font-weight:bold;color:#152935; width:80px; border:none; text-align: center;"
                                                    ng-model="timeout">
    
                                                <a ng-click="addTimeout()"><i class="fas fa-plus-circle"></i></a>
                                            </div>
                                            <p></p>
                                            <p>Timeout(Milliseconds)</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div style="width:70%; text-align:center; margin:0 auto;">
                                            <div
                                                style="width: 145px; height: 145px; border-radius: 75px;border:solid 2px #4178be; margin:0 auto; text-align: center; padding:53px 0;">
                                                <a ng-click="minusMemory()"><i class="fas fa-minus-circle"></i></a>
                                                <input ng-blur="updateMemory()"
                                                    style="font-size:25px; font-weight:bold;color:#152935; width:80px; border:none; text-align: center;"
                                                    ng-model="memory">
    
                                                <a ng-click="addMemory()"><i class="fas fa-plus-circle"></i></a>
                                            </div>
                                            <p></p>
                                            <p>Memory Limit(MB)</p>
    
                                        </div>
                                    </div><br><br><br>
    
                                </div>
                                <div>
    
                                </div>
                            </div>
                        </div>
            </div>
            <div class="col-xs-12" ng-show=listshow[2]>
                <br>
                <div class="web-action">
                    <div class="header-web-action">
                        <div class="left" style="float:left;">
                            <p style="line-height:30px; font-weight: bold; color: #152935; margin:0; font-size:18px;">
                                REST API</p>
                        </div>
                    </div>
                    <table class="tableaction col-xs-12">
                        <tr class="content" style="font-weight:bold;border:none">
                            <td class="col-xs-2">HTTP METHOD</td>
                            <td class="col-xs-2">AUTH</td>
                            <td class="col-xs-7">URL</td>
                        </tr>
                        <tr class="content" style="line-height:20px;">
                            <td class="col-xs-2">POST
                            </td>
                            <td class="col-xs-2"><a style="padding:0;">API-KEY</a></td>
                            <td class="col-xs-7" id="urlRestApi">{{urlRestApi}}</td>
                            <td class="col-xs-1"><a ng-click="copyText(1)"><i class="far fa-copy"></i></a></td>
                        </tr>
                    </table>
                    <p>&nbsp</p>
                </div>
                <br>
                <div class="web-action">
                    <div class="header-web-action">
                        <div class="left" style="float:left;">
                            <p style="line-height:30px; font-weight: bold; color: #152935; margin:0; font-size:18px;">
                                CURL</p>
                        </div>
                    </div>
                    <table class="tableaction col-xs-12">
                        <tr class="content">
                            <td class="col-xs-11" id="urlCurl">{{curlTextShow}}</td>
                            <!-- <input type="text" value="Hello World" id="urlCurlValue"  > -->
                            <!-- <input type="text" ng-model="txtCurlValue" id="urlCurlValue" ng-show="false"/> -->
                            <td class="col-xs-1">
                                <a ng-click="copyText(2)"><i class="far fa-copy"></i></a>
                                <a>
                                    <i class="fas fa-eye" ng-hide="showcurl2" ng-click="changeShowCurl(1)"></i>
                                    <i class="fas fa-eye-slash" ng-show="showcurl2" ng-click="changeShowCurl(2)"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <p>&nbsp</p>
                </div>
            </div>
            <div class="col-xs-12" ng-show=listshow[3]>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="col-xs-12" >
                            <h3 class="col-xs-10"><b>Connected Triggers</b></h3>
                            <h4 class="col-xs-2"><a ng-click="addTriggerToAction()">Add trigger &nbsp<i
                                        class="fas fa-plus-circle"></i></a></h4>
                        </div>
                    <table id="actionsListTable" class="tableaction col-xs-12">
                        <tr class="header">
                            <th class="col-xs-5"><span>NAME</span></th>

                        </tr>

                        <tr class="content" ng-repeat="item in thisSequence.relatedTrigger">
                            <td><a target="blank" href="#/trigger_detail?name={{item}}">{{item}}</a></td>

                        </tr>

                    </table>
                </div>
                </div>
            </div>

            <div class="col-xs-12" ng-show=listshow[4]>
                <p>Enclosing Sequences</p>
                <p>Allows you to add action to a sequence</p>
                <p>This action is not part of any sequences yet.</p>
            </div>

            <div class="col-xs-12" ng-show=listshow[6]>
                <p>log content</p>
            </div>

        </div>
    </div>
</div>
    <script type="text/ng-template" id="AddActionSequence.html">
    <div class="modal-header bgColor2" id="title_add_device">
      <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="zmdi zmdi-close"></i></button>
      <h3 class="modal-title">Add Action</h3>
      <!-- <h3 class="modal-big-title">Add device</h3> -->
    </div>
    <div class="tab">
            <button  class="tablinks" ng-click="selectAction($event, 'createnew')">Create New</button>
            <button style="display=true" class="tablinks" ng-click="selectAction($event, 'selectexisting')">Select Existing</button>
    </div>

    <div id="createnew" class="tabcontent"  class="w3-container city" style="display:block" ng-controller='CreateActionController'>
       
        <div  class="form-group col-md-9 col-xs-12" style="padding:0;margin:0;    margin-top: 7px;">
            <label for="nameaction">Action Name</label>
            <input type="text" class="form-control" id="nameaction" ng-change="checkValidActName()" ng-model="actionname">
            <span style="color: red" ng-show="existsName">An action by this name already exists.</span>
            <span style="color: red" ng-show="invalidName">Action names must start with a letter, digit, or underscore and be followed by the same or @, ,., and -.
                </span>
        </div>
        <div class="form-group col-md-9 col-xs-12" style="padding:0;margin:0;">
            <label>Enclosing Package</label>
            <i class="fas fa-info-circle" style="color:#4178be;"
                title="Use Packages for grouping your Actions"></i>
            <select class="col-xs-12" style="color:#152935; height: 40px; z-index: 1;" ng-model="packageselected"
                ng-change="changePackage(packageselected)" ng-options="item for item in listPackageName"></select>
        </div>
        <div class="form-group col-xs-3" style="margin-top:22px;">
            <button ng-click="createPackage()" class="btn btn-primary">Create Package</button>
        </div>
        <hr class="col-xs-12" style="margin:5px;">

        <div class="form-group col-xs-12" style="padding:0;margin:0;">
            <label>Runtime</label>
            <i class="fas fa-info-circle" style="color:#4178be;" title="The environment in which your code will be excuted. It can be changed after creation."></i>
            <select class="col-xs-12" ng-change="changeRuntime(runtimeselected)" style="color:#152935; height: 40px; z-index: 1;" ng-model="runtimeselected"
        ng-options="item.name for item in listRuntime track by item.f"  ></select>
        </div>
    
        <div style="float:right;margin-top:20px">
                <button ng-class = "actionname==''? 'disableClick':''" class="btn btn-primary" 
                style="border-radius:2px;width:140px !important; height: 40px !important;"
                ng-disabled="!showBtnCreate" ng-click = "createAction('#create_act_sequence?seq=')">Create & Add</button>
        </div>
    </div>
    <div id="selectexisting" class="tabcontent" >
            <h3>Action List: ( {{listAction.length}} )</h3>
        <select style="cursor: pointer;" size="1" name="table-volumes_length" class="form-control form-control-inline"
            ng-model="selectedAction" ng-options="item.fullname for item in listAction track by item.fullname" ng-change="changeAction()"> 
            <option value="">Select an Action...</option>
        </select>
        <br>
    </div>
    </div>
    <div class="modal-footer text-center" >
      <div ng-show="showBTNAct" class="row">
        <div  class="col-xs-6"><a ng-click="cancel()" class="btn w100p btn-sub-border btn-lg" data-dismiss="modal">Cancel</a></div>
        <div class="col-xs-6"><a ng-click="save()" class="btn w100p btn-sub btn-lg" data-dismiss="modal" id="button_add_new">Add</a></div>
      </div>
    </div>
  </script>
    <style>
        body {
            font-family: Arial;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }
    </style>
    <script type="text/ng-template" id="AddPPackageController.html">
    <div class="modal-header bgColor2" id="title_add_device">
      <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="zmdi zmdi-close"></i></button>
      <h3 class="modal-title">Create Package</h3>
      <!-- <h3 class="modal-big-title">Add device</h3> -->
    </div>
    <div class="modal-body">
      <p>Enter the name for the Package you want to create.</p>
      
        <div class="form-group">
            <label>Package name</label>
            <input type="text" ng-change="checkValidPkgName()" ng-model="package_name" class="form-control input-lg" placeholder="Name...">
            <span style="color:red" ng-show="bInvalidName">A package by this name already exists.</span>
        </div>
    </div>
    </div>
    <div class="modal-footer text-center">
      <div class="row">
        <div class="col-xs-6"><a ng-click="cancel()" class="btn w100p btn-sub-border btn-lg" data-dismiss="modal">Cancel</a></div>
        <div class="col-xs-6"><a ng-click="save()" ng-disabled="bInvalidName" class="btn w100p btn-sub btn-lg" data-dismiss="modal" id="button_add_new">Create</a></div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="AddParameters.html">
    <div class="modal-header bgColor2" id="title_add_device">
      <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="zmdi zmdi-close"></i></button>
      <h3 class="modal-title">Change Action Input</h3>
      <!-- <h3 class="modal-big-title">Add device</h3> -->
    </div>
    <div class="modal-body">
      <p>Add one object with one or many a pair :key - value format</p>
      <p>Example: {"name":"vFunction"}</p>
      <hr>
      <p style="color:red;" ng-show = "showInvalidJson">Invalid JSON</p>
      <textarea id = "focusname" style="background-color:#4F4F4F; color: white; font-weight:bold; width:100%;height:300px; padding-left:20px;" ng-model = "changeparameters" ng-change = "checkJsonFuntion()"></textarea>
  
    </div>
    </div>
    <div class="modal-footer text-center">
      <div class="row">
        <div class="col-xs-6"><a ng-click="cancel()" class="btn w100p btn-sub-border btn-lg" data-dismiss="modal">Cancel</a></div>
        <div class="col-xs-6"><a ng-click="saveParameter()" class="btn w100p btn-sub btn-lg" data-dismiss="modal" id="button_add_new">Apply</a></div>
      </div>
    </div>
  </script>