<div class="container-fluid">
	<div class="row">
		<div ng-include="'/static/' + uiver + '/navigation/navigation.view.html?v=' + ver"
			ng-controller='NavigationController'>
		</div>
	</div>
	<div class="row">
		<div class="title-bar">
			<a style="display:-webkit-box; cursor: pointer;">

				<span class="title-text">Space/ {{spaceName}} / Details</span>
			</a>
<!-- 
			<div class="btn-group menu-action">
				<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
					<span style="font-weight:700 !important;">Action</span>
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu actiondetail" role="menu" style="margin-left: -80px;">
					<li ng-class="statusCert=='ACTIVE'||statusCert=='REVOKED' ? 'disableClick':''"><a
							ng-click="updateCert(cert,1)">Rename</a></li>
					<li ng-class="statusCert=='INACTIVE'||statusCert=='REVOKED' ? 'disableClick':''"> <a
							ng-click="updateCert(cert,0)">Block</a></li>
					<li ng-class="statusCert=='REVOKED'?'disableClick':''"><a ng-click="updateCert(cert,2)">Active</a>
					</li>
					<li><a ng-click="attachPolicies(cert)">Delete</a></li>
				</ul>
			</div> -->
			<!-- <div class="over-margin maps"></div> -->
		</div>

	</div>
	<div class="row">
		<div ng-include="'/static/' + uiver + '/leftmenu/leftmenu.view.html?v=' + ver" ng-controller='LeftMenuController'>
		</div>
		<div class="contentcontainer col-xs-12" id ="contentcontainer">
			<div class="row">
				<div class="col-md-10 col-xs-10">
					<h3 class="nameattribute">Details</h3>
					<hr>
					<div class="form-group">
							<label>vFunctions (based on <a target="_blank" href="https://openwhisk.apache.org/">Apache OpenWhisk </a>) is a Function-as-a-Service (FaaS) platform which executes functions in response to incoming events and costs nothing when not in use.</label>
					</div>
					<div class="form-group">
							<label>Spaces are tied to a specific region in vFunctions. You can create spaces in an org based on the delivery lifecycle. For example, you can create a dev space as a development environment, a test space as a testing environment, and a production space as a production environment</label>
							
					</div>
					<!-- <form class="form-horizontal form-label-left">
						   <div class="form-group">
					</form> -->
					<label>SPACE INFO</label><br><br>
					<span class="nameattribute">Id: </span><span><pre>{{thisNamespace.id}}</pre></span>
					<span class="nameattribute">Key: </span><span><pre>{{thisNamespace.key}}</pre></span>
					<span class="nameattribute">Uuid: </span><span><pre>{{thisNamespace.uuid}}</pre></span>
					<span class="nameattribute">Status: </span><span><pre>{{thisNamespace.status}}</pre></span>
					<span class="nameattribute">Fireperminute: </span><span><pre>{{thisNamespace.fireperminute}}</pre> </span>
					<span class="nameattribute">Token: </span><span><pre>Basic {{thisNamespace.token}}</pre></span>
					<span class="nameattribute">Last update: </span><span> <pre>{{thisNamespace.lastudate}}</pre></span>
					<span class="nameattribute">Created time: </span><span> <pre>{{thisNamespace.createdate}}</pre></span>
					
					<!-- <span class="nameattribute">Status: </span><span>{{thisNamespace.status}}</span> -->
				</div>

				<!-- <div class="col-md-12 col-xs-12" ng-show="showList[1]">
					<h3 class="nameattribute">Actions</h3>
					<p>Actions contain your function code and are invoked by events or REST API call</p>
					<hr>
					<form class="form-inline col-md-9 col-xs-12">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="text" placeholder="Search Actions" aria-label="Search">
					</form>
					<button class="btn btn-primary col-xs-2 btn-createaction">Create</button>
				</div> -->
			</div>

		</div>
	</div>






</div>
