<div class="container-fluid">
    <div class="row">
        <div ng-include="'/static/' + uiver + '/navigation/navigation.view.html?v=' + ver"
            ng-controller='NavigationController'>
        </div>
    </div>
    <div class="row">
        <div class="title-bar">
            <a style="display:-webkit-box; cursor: pointer;">
                <span class="title-text">Triggers</span>
            </a>

            <!-- <div class="btn-group menu-action">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                        <span style="font-weight:700 !important;">Action</span>
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu actiondetail" role="menu" style="margin-left: -80px;">
                        <li ng-class="statusCert=='ACTIVE'||statusCert=='REVOKED' ? 'disableClick':''"><a
                                ng-click="updateCert(cert,1)">Rename</a></li>
                        <li ng-class="statusCert=='INACTIVE'||statusCert=='REVOKED' ? 'disableClick':''"> <a
                                ng-click="updateCert(cert,0)">Block</a></li>
                        <li ng-class="statusCert=='REVOKED'?'disableClick':''"><a ng-click="updateCert(cert,2)">Active</a>
                        </li>
                        <li><a ng-click="attachPolicies(cert)">Delete</a></li>
                    </ul>
                </div> -->
            <!-- <div class="over-margin maps"></div> -->
            <a style="cursor: pointer;" ng-click="autoAddNewVariable()" class="btnAdd" ng-show="viewVar">+</a>
        </div>

    </div>
    <div class="row">
        <div >
            <div ng-include="'/static/' + uiver + '/leftmenu/leftmenu.view.html?v=' + ver" ng-controller='LeftMenuController'>
            </div>
        </div>
        <div class="contentcontainer col-xs-12" id="contentcontainer">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h3 class="nameattribute">Triggers</h3>
                    <p>Triggers receive events from outside Cloud Functions and invoke all connected Actions</p>
                    <hr>
                    <form class="form-inline col-md-9 col-xs-12">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" placeholder="Search Trigger" aria-label="Search" ng-model="searchtext.data.name" ng-change ="changeSearch()">
                    </form>
                    <button ng-click="createTrigger()" class="btn btn-primary col-xs-2 btn-createaction">Create</button>
                    <br><br><br><br>
                   
                    <table class="tableaction col-xs-12" ng-hide = "listPkShow[$index]">
                        <tr class="header">
                            <th class="col-xs-5"><span>NAME</span></th>
                            <th class="col-xs-2"><span>ACTIONS</span></th>
                            <th class="col-xs-3"><span>UPDATED</span></th>
                            <th class="col-xs-3"><span>VERSION</span></th>
                            <th class="col-xs-1"><span></span></th>
                        </tr>

                        <tr class="content" ng-repeat="item in listTrigger|filter:searchTextIn">
                            <td  ng-click="manageTrigger(item)"><a href="">{{item.name}}</a></td>
                            <td><a href="">{{item.actChild}}</a></td>
                            <td><a href="">{{item.updated}}</a></td>
                            <td><a href="">{{item.version}}</a></td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" style="margin-left:-150px;">
                                        <li><a ng-click="manageTrigger(item);$event.stopPropagation();">Manage Trigger</a></li>
                                        <li><a onmouseover = "this.style.backgroundColor='red';" onmouseout = "this.style.backgroundColor='white';"  ng-click="removeTrigger(item);$event.stopPropagation();">Delete Trigger</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/ng-template" id="AddTriggerPage.html">
    <div class="modal-header bgColor2" id="title_add_device">
      <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="zmdi zmdi-close"></i></button>
      <h3 class="modal-title">Create Trigger</h3>
      <!-- <h3 class="modal-big-title">Add device</h3> -->
    </div>
    <div class="modal-body">
      <p><b>Trigger an action whenever a certain REST Endpoint is POSTed to.</b></p>
      <div class="form-group">
          <label>Name:</label>
          <input type="text" class="form-control input-lg" ng-change="checkValidTriggerName()" ng-model="trigger_name"></input>
          <span style="color:red" ng-show="bInvalidName">A trigger with this name already exists</span>
      </div>
    </div>
    <div class="modal-footer text-center">
      <div class="row">
        <div class="col-xs-6"><a ng-click="cancel()" class="btn w100p btn-sub-border btn-lg" data-dismiss="modal">Cancel</a></div>
        <div class="col-xs-6"><a ng-click="save()" ng-disabled="bInvalidName" class="btn w100p btn-sub btn-lg" data-dismiss="modal" id="button_add_new">Create</a></div>
      </div>
    </div>
  </script>
